{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}



 <style>
     .contact-form{
        background-color: aliceblue;
        padding: 10px;
        -webkit-box-shadow: -1px -1px 36px -1px rgba(102,97,102,0.95);
        -moz-box-shadow: -1px -1px 36px -1px rgba(102,97,102,0.95);
        box-shadow: -1px -1px 36px -1px rgba(102,97,102,0.95);
     }
 </style>   
<br>
<div class="container contact-form">
    <form method="POST" action=".">{% csrf_token %}
       
       
            <div class="col-md-12">
                {{form|crispy}}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Send Message" />
                </div>
            </div>
            
    </form>
</div>
{% endblock content %}
    